@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: #ED401E !important;

}

.bg-about-me {
    width: 100%;
    height: 100%;
    background-color: #2C394B;
    color: white;
}

.left-about-me {
    display: flex;
    justify-content: center;
}

.right-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-about-me {
    color: #FF4C29;
    font-weight: bold;
    font-size: 1.5rem;
}

.desc-about-me {
    font-size: .8rem;
}

.position-about-me  {
    font-size: 1rem;
}

.img-about-me {
    height: 18rem;
    width: 18rem;
    background-color: gray;
    border: 2px solid #ED401E;
    background-image: url('../img/halvin/halvin.jpeg');
    background-size: cover;
    background-position: center;
}

.link-about-me  {
    text-decoration: none;
}

.link-about-me:hover {
    opacity: .5;
}

.parent-icon-about-me {
    display: flex;
}

.github,.linked {
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
}

.github {
    background-image: url('../img/github.svg');
}

.linked {
    background-image: url('../img/linked.svg');
    margin-left: .2rem;
}

.bg-skills {
    width: 100%;
    height: 100%;
    background-color: #082032;
    color: white
}

.parent-square-skills {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
}

.square-skills {
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
}

.headline-skills {
    position: relative;
    top: .7rem;
    font-size: 1.2rem;
}

.img-skills {
    height: 5rem;
    width: 5rem;
    background-position: center;
    background-size: cover;
}

.css {
    background-image: url('../img/css.png');
}

.js {
    background-image: url('../img/js.png');
}

.ts {
    background-image: url('../img/typescript.png');
}

.html {
    background-image: url('../img/html.png');
}

.java {
    background-image: url('../img/java.png');
}

.kotlin {
    background-image: url('../img/kotlin.png');
}

.python {
    background-image: url('../img/python.png');
}

.desc-skills {
    position: relative;
    left: .5rem;
}

.bg-work-experience {
    background-color: #2C394B;
    color: white;
}

.parent-work-experience {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.headline-work-experience  {
    font-size: 1.5rem;
}

.text-work-experience {
    font-size: .8rem;
}

.square-work-experience {
    border: 1px solid #ED401E;
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.img-work-experience {
    height: 14rem;
    width: 40rem;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.tokopedia {
    background-image: url('../img/gojek.png');
}

.grab {
    background-image: url('../img/grab.png');
}

.traveloka {
    background-image: url('../img/traveloka.png');
}


.shopee {
    background-image: url('../img/shopee.png');
}

.desc-work-experience {
    position: relative;
    left: 1rem;
}

.bg-achievement {
    width: 100%;
    height: 100%;
    background-color: #082032;
    color: white
}

.parent-achievement {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.headline-achievement  {
    font-size: 1.5rem;
}

.text-achievement{
    font-size: .8rem;
}

.square-parent-achievement{
    border: 1px solid #ED401E;
    height: 15rem;
    width: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.img-achievement {
    height: 14rem;
    width: 52rem;
    background-color: grey;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.FreeCodeCamp {
    background-image: url('../img/rizky/ResponsiveWeb.JPG');
}

.Workshop {
    background-image: url('../img/halvin/cer1.jpeg');
}

.Webinar-Kotlin {
    background-image: url('../img/halvin/cer2.jpeg');
}

.Shopee {
    background-image: url('../img/rizky/shopee.png');
}

.desc-achievement {
    position: relative;
    left: 1rem;
}

.headline-preview-rizky {
    color: #ED401E
}

.bg-footer {
    background-color: #ED401E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}